%form 
  %input{ type: "text" id: "f_name" name: "f_name"}
  %br
  %input{ type: "text" id: "l_name" name: "l_name"}
  %br
  %input{ type: "text"  id: "address" name: "address"}
  %br
  %input{ type: "text" id: "phone_num" name: "phone_num"}
  %br
  %input{ type: "submit" value: "submit"}

