// Place all the styles related to the AddressBook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_body {
  margin: 0 auto; 
  width: 800px; 
  height: 300px;
  
  table {
  
    tbody {
      width:800px;

      td, th {
        white-space: nowrap;
        width: 140px; 
        height: 30px;
        text-align: center;
      }
    }
  }

  .form_box {
    background-color: brown;
    width: 800px;
    height:200px; 
  }
}

#edit_person_form {
  margin: 0 auto; 
  width: 800px; 
}

#new_person_form {
  margin: 0 auto; 
  width: 400px; 
  
}





