// Place all the styles related to the AddressBook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index_body {
  margin: 0 auto; 
  width: 400px; 
  
}

#edit_person_form {
  margin: 0 auto; 
  width: 400px; 

}
#new_person_form {
  margin: 0 auto; 
  width: 400px; 
  
}
