
=form_tag( method: 'GET', :controller => 'AddressBook') do 
  =label_tag 'First Name'
  =text_field_tag :f_name 
  %br
  %br
  =label_tag 'Last Name'
  =text_field_tag :l_name 
  %br
  %br
  =label_tag 'Address'
  =text_field_tag :address 
  %br
  %br
  =label_tag 'Phone Number'
  =text_field_tag :phone_num 
  %br
  %br
  =submit_tag 'Update', class:'submit_button'
