%form 
  %label{ for: "f_name"}
    First Name
  %br
  %input{ type: "text", id: "f_name", name: "f_name", value: ""}
  %br
  %label{ for: "l_name"}
    Last Name
  %br
  %input{ type: "text", id: "l_name", name: "l_name"}
  %br
  %label{ for: "address"}
    Address
  %br
  %input{ type: "text",  id: "address", name: "address"}
  %br
  %label{ for: "phone_num"}
    Phone Number
  %br
  %input{ type: "text", id: "phone_num", name: "phone_num"}
  %br
  %input{ type: "submit", value: "submit"}

