:javascript
  $(document).ready( function() {

    var form = '#{j(render('slide_out_form'))}'

    //Opens and closes drop-down box on td.drop_down_box click 
    //Fills drop-down box with info about the person.
    $('tr td.drop_down_form').click( function () {
      var parentNode = $(this).parent();
      $(insertForm(parentNode, form));
    });

    $('a.delete_button').click(function(event){
      event.preventDefault();
      var confirmDelete = confirm('Are you sure?');
      if (confirmDelete === false ){
        return false;
      } 
    });

    $('div#add_contact_container').click(function(event){
      event.preventDefault();
      //load form 
      var div = '<div class = \'form_box\' > </div>'

      $(this).append(div);
      var formContainer = $(this).find('div.form_box').html(form);
      var submitButton = $(this).find('.submit_button');
      var newForm = formContainer.children(); 

      submitButton.attr('value', 'Add Contact');
      submitButton.attr('action', '/addressbook/');
      formContainer.hide().slideToggle(2000);
      $(this).off();

      newForm.submit(function(event){
        event.preventDefault(); 

        var hiddenInputs = formContainer.find('div').children();
        var utf8 = $(hiddenInputs[0]).attr('value');
        var token = $(hiddenInputs[1]).attr('value');
        var f_name = formContainer.find('#f_name').attr('value');
        var l_name = formContainer.find('#l_name').attr('value');
        var address = formContainer.find('#address').attr('value');
        var phone_num = formContainer.find('#phone_num').attr('value');

        var data = { utf8: utf8 , token: token, post:{f_name: f_name , l_name: l_name , address: address, phone_num: phone_num }};
        var url = '/addressbook/';

        $.ajax(url,{
          type: 'POST',
          data: data,
          dataType: 'json',
          success: function(){
            alert('It worked!') 
          }
        }); 

        //find table
        var table = $('table tbody');
       table.append('<tr> <td>'+f_name +'</td> <td>'+l_name+'</td> <td>'+address + '</td> <td>'+ phone_num + '</td> </tr>');
      
      });

    });
  });

.index_body
  =flash[:notice]
  %br
  %br
  %h1 Welcome to Blazing Lisutu 
  ="Your address book is empty!" if @address_book.empty?


  %table
    %tr
      %th First Name
      %th Last Name
      %th Address
      %th Phone # 
      %th Remove 
      %th Show
      
    -@address_book.each do |p|
      - id = p.id.to_s
      %tr{:id => id+'p' }
        %td=p.f_name
        %td=p.l_name
        %td=p.address
        %td=p.phone_num
        %td=link_to "Delete", addressbook_path(p), method: 'delete', class: "delete_button", id: 'del' + id 
        %td{class:'drop_down_form' }=image_tag("arrow_left.png")


  %br
  %br
  %div{id:'add_contact_container'}
    %a{href: '#', id: 'add_contact'} 
      Add Contact
