:javascript
  $(document).ready( function() {
    
    var form = '#{j(render('slide_out_form')) }'

    //Opens and closes drop-down box on td.drop_down_box click 
    //Fills drop-down box with info about the person.
    $('tr td.drop_down_form').click( function () {
      var parentNode = $(this).parent();
      $(insertForm(parentNode, form));
    });

  });


.index_body
  =flash[:notice]
  %br
  %br
  %h1 Welcome to Blazing Lisutu 
  ="Your address book is empty!" if @address_book.empty?


  %table
    %tr
      %th First Name
      %th Last Name
      %th Address
      %th Phone # 
      %th Edit
      %th Show
      
    -@address_book.each do |p|
      %tr{:id => p.id}
        %td=p.f_name
        %td=p.l_name
        %td=p.address
        %td=p.phone_num
        %td=link_to "Edit", edit_addressbook_path(p)
        %td{class:'drop_down_form' }=image_tag("arrow_left.png")


  %br
  %br
  =link_to "Add new contact", new_addressbook_path 

